################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesktopStickyNote/bin/Debug
/DesktopStickyNote/obj/Debug
/DesktopStickyNote.v12.suo
